  <Config>
   <Plugins>
      <Lib Name="libInterp4Move.so"/>
      <Lib Name="libInterp4Rotate.so"/>
      <Lib Name="libInterp4Pause.so"/>
   </Plugins>
   <Objects>
      <Cube Name="obj1" SizeXYZ="8 10 5"  Pose="-10 -7 -3"  RGB="255 190 11"/>
      <Cube Name="obj2" SizeXYZ="3 6 2" Pose="10 15 2"  RGB="255 0 110"/>
      <Cube Name="obj3" SizeXYZ="7 7 7" Pose="5 -2 12" RGB="10 34 255"/>
   </Objects>
  </Config>
  
